thead,
tfoot {
    background-color: #333;
    color: #fff;
}
p{color: #000000
}
body {
  background-color:#FFFF;
}
hr {
  border-color:grey;
  border-style: dotted none none;
  border-width: 5px;
  width: 30%;
}
/* h1 {color : #000000
} */
h3 {color : #000000
}
table {border: dashed pink;}
td {border: dashed black;}

/* img {
    height: 100%;
width:100%;
margin:0;
padding:0;

    } */

.myDiv {
    position: absolute;
    color: #fff;
    text-align: center;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    

    }
.cover {
    position: relative;
    height: 100vh;
    width:100%;
}

.myDivText {
  text-align: justify;
  top: 50%;
}

img {
  height: 250px;
  width: 250px;
}